

.noname{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .flex{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .flexIkki{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}