# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# // .gitnignore
.idea
# next.js build output
.next
.idea
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
# Dependency directories
node_modules/