.wrapItems {
  border-top: 1px solid #dcdcdc;
}

.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 68px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  a {
    margin: 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    flex: none;
    cursor: pointer;

    @media (max-width: 1799px) {
      font-size: 16px;
    }
  }
}